/* Reset default margin and padding for various elements */
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/* Overall styling for the main app container */
.App {
  text-align: center;
  padding-bottom: 60px;
}

/* Styling for the main heading (h1) in the App */
.App h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: "Aref Ruqaa Ink", serif;
}

/* Styling for the header section with flex layout */
.App .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

/* Styling for the main heading with a specific font family */
.main-heading {
  font-family: "Aref Ruqaa Ink", serif;
}

/* Styling for the sub-heading with Open Sans font, bolder, and blue color */
.sub-heading {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: blue;
}
